<div class="container">
  <div class="header">
    <h1>JavaScript Racer 3.0</h1>
    <p><%= @flag %></p>
    <div>
      <a href="/register"><button>Register new user</button></a>
      <a href="/pre_race"><button>Start race</button></a>
      <a href="/history"><button>View race history</button></a>
    </div>
  </div>
</div>